# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
.venv/
venv/
ENV/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# Data folders
data/raw/
data/processed/

# BUT allow DVC metadata files
!*.dvc

# =========================
# Logs / outputs
# =========================
logs/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

mlruns/
mlflow.db