# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
.venv/
venv/
ENV/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Data (ważne w ML)
# =========================
data/
*.csv
*.parquet

# =========================
# Logs / outputs
# =========================
logs/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

mlruns/
mlflow.db