fastapi==0.136.1
uvicorn==0.46.0

pandas==2.3.3
numpy==2.4.4
scikit-learn==1.8.0



mlflow==3.11.1

ccxt==4.5.53
joblib==1.5.3
boto3==1.43.29



scipy==1.17.1


cloudpickle==3.1.2


great_expectations==1.17.2

python-dotenv==1.2.2
PyYAML==6.0.3
tqdm==4.67.3

--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.7.1+cu118
torchvision==0.22.1+cu118
torchmetrics==1.9.0

dvc==3.67.1
dvc-data==3.18.3
dvc-render==1.0.2